footer {
  background: #273572;
  color: #fff;
  padding: 45px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.links {
  margin-top: 55px;
}

.logo {
  margin-bottom: 15px;
  width: 200px;
  height: auto;
}

.col h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.col a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin: 4px 0;
}

.col a:hover {
  text-decoration: underline;
}

footer .btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 14px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: #e34f3e;
  text-align: left;
  max-width: 250px;
  margin-top: 5px;
  border: none;
}

footer .btn img {
  height: 18px;
  width: auto;
}

.social {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.social img {
  height: 24px;
  width: auto;
}
