.conteneur-fond-ecran * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f5f5f5;
}
.bg {
  background-image: url("../../images/unsplash_Aln972onVgE.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.card {
  width: 480px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card h1 {
  color: #d13434;
  margin-bottom: 10px;
  font-size: 28px;
}

.card p {
  margin-bottom: 25px;
  color: #444;
  font-size: 16px;
}

.button-lmu {
  background: #2d3768;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 75%;
  margin: 0 auto 25px;
  font-weight: 600;
}

.button-lmu:hover {
  opacity: 0.9;
}

.button-lmu img {
  height: 30px;
  width: auto;
  display: block;
}

.visitor-btn {
  background: #dcdcdc;
  color: #333;
  padding: 12px 24px;
  border-radius: 8px;
  display: block;
  width: 75%;
  margin: auto;
  text-decoration: none;
  font-weight: 600;
}
