.conteneur-fond-ecran * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f5f5f5;
}

.bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../images/unsplash_Aln972onVgE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
}

.connexion {
  width: 39%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.connexion img {
  width: 275px;
  height: auto;
}

.form {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 460px;
}

.connexion input {
  width: 95%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 12px;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.remember-me input {
  display: none;
}

.toggle {
  width: 45px;
  height: 22px;
  background: #d3d3d3;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.remember-me input:checked + .toggle {
  background: #7b4dff;
}

.remember-me input:checked + .toggle::after {
  transform: translateX(23px);
}

.form button {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#connexion {
  background: #282f63;
  color: white;
  font-weight: bold;
}

#fisrt-connexion {
  background: #d1e9ec;
  color: #282f63;
  font-weight: bold;
}

.form a {
  color: #282f63;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form p {
  margin-top: 20px;
  font-size: 12px;
}
