body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

.form-container {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 30px;
  max-width: auto;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-left: 20px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.hero-banner {
  width: 100%;
  height: 300px;
  
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.page-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}


.page-title {
  color: #5468ff;
  font-size: 26px;
  font-weight: 500;
  margin: 15px
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  font-family: inherit;
  box-sizing: border-box;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #aaa;
}

.form-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.upload-box {
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.file-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.upload-label i {
  font-size: 24px;
  color: #aaa;
}

.form-actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.btn-reset,
.btn-submit {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-reset {
  background-color: #e0e0e0;
  color: #555;
}

.btn-submit {
  background-color: #2c2c2c;
  color: white;
}

.btn-submit:hover {
  background-color: #000;
}

.btn-reset:hover {
  background-color: #d0d0d0;
}
